apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: airflow-logs-pvc
  namespace: airflow
spec:
  storageClassName: manual
  volumeName: airflow-logs-pv
  accessModes: 
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi  